RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^dsadesarrollosinmobiliarios.com.ar$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dsadesarrollosinmobiliarios.com.ar$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]